body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #63a7e38e, #0d7ec094);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* ===== Container Box ===== */
.container {
    background-color: rgb(0, 136, 221);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
}

/* ===== Headings ===== */
.container h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 25px;
    color: #e3e3e3;
}

/* ===== Buttons ===== */
button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #ffffff;
    color: #1e69de;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1e69de;
    color: #ffffff;
    transform: scale(1.03);
}